@import "../../Style/Color.scss";
@import "../../Style/Template.scss";
.Table {
  margin-top: 50px;
  .TableBlock {
    font-weight: 600;
    width: 100%;
    margin: 0 auto 2px auto;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "TableMonth TotalPayment InterestPayment LoanBalance Equity";
    .TableMonth {
      grid-area: TableMonth;
      @extend %Table;
    }
    .TotalPayment {
      grid-area: TotalPayment;
      @extend %Table;
    }
    .InterestPayment {
      grid-area: InterestPayment;
      @extend %Table;
    }
    .LoanBalance {
      grid-area: LoanBalance;
      @extend %Table;
    }
    .Equity {
      grid-area: Equity;
      @extend %Table;
    }
  }
}
